In [1]:
import pandas as pd

In [2]:
file = "./contacts.csv"

In [3]:
contactsDF = pd.read_csv(file)

In [4]:
#contactsDF = contactsDF.drop(columns=["id"])

In [5]:
contactsDF = contactsDF.set_index("last_name")

In [6]:
contactsDF.loc["Kim", "Phone Number"]

last_name
Kim    62-(764)534-1192
Kim    56-(946)201-0528
Name: Phone Number, dtype: object

In [7]:
contactsDF.iloc[6, 1]

'Joseph'

In [8]:
contactsDF.iloc[0:4,0:2]

            id first_name
last_name
Richardson   1      Peter
Berry        2     Janice
Hudson       3     Andrea
Mcdonald     4     Arthur

In [9]:
contactsDF["first_name"] == "Billy"

last_name
Richardson    False
Berry         False
Hudson        False
Mcdonald      False
Morales       False
              ...
Henderson     False
Riley         False
Green         False
Peters        False
Murray        False
Name: first_name, Length: 100, dtype: bool